# 01 - Data Consolidation

In [1]:
import sys
sys.executable

'/usr/local/bin/python'

## Imports

In [2]:
import constants as cnst
import stock_utils as su

NSE_DATA_DIR = PosixPath('../data/NSE') | Valid: True

## Consolidating historical stock data

### All available symbols

In [3]:
stock_symbols = su.get_all_stock_symbols(
    cnst.NSE_DATA_DIR
)

stock_symbols

['HDFCBANK', 'ITBEES']

### Consolidated data sample

In [4]:
su.get_consolidated_stock_data(stock_symbols[0], cnst.NSE_DATA_DIR)

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,2020-01-01,EQ,1276.10,1280.00,1270.60,1272.10,1279.00,1278.60,1276.64,2503.3,1084.00,1836849,2.345001e+09,46625
1,2020-01-02,EQ,1279.00,1288.00,1279.00,1278.60,1286.00,1286.75,1284.56,2503.3,1084.00,3068583,3.941792e+09,104570
2,2020-01-03,EQ,1282.20,1285.00,1263.60,1286.75,1268.50,1268.40,1270.48,2503.3,1084.00,5427775,6.895886e+09,157066
3,2020-01-06,EQ,1260.00,1261.80,1236.00,1268.40,1240.25,1240.95,1247.24,2503.3,1084.00,5445093,6.791348e+09,155007
4,2020-01-07,EQ,1258.90,1271.45,1252.25,1240.95,1261.00,1260.60,1261.48,2503.3,1084.00,7362247,9.287302e+09,189026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,2023-12-22,EQ,1683.60,1685.90,1667.10,1686.70,1668.70,1670.85,1675.74,1757.5,1460.25,24289425,4.070271e+10,450284
1005,2023-12-26,EQ,1673.25,1685.95,1668.55,1670.85,1684.10,1682.45,1678.46,1757.5,1460.25,9022928,1.514458e+10,243596
1006,2023-12-27,EQ,1681.50,1706.50,1678.60,1682.45,1702.10,1703.30,1695.87,1757.5,1460.25,13504539,2.290188e+10,321373
1007,2023-12-28,EQ,1709.30,1721.40,1702.00,1703.30,1708.85,1705.25,1711.26,1757.5,1460.25,22038235,3.771305e+10,423062
1008,2023-12-29,EQ,1697.00,1714.90,1696.00,1705.25,1708.65,1709.25,1707.51,1757.5,1460.25,12505713,2.135365e+10,264143

### Saving consolidated data for all symbols

In [5]:
su.consolidate_all_stock_data(cnst.NSE_DATA_DIR)

HDFCBANK - 4 files
	1009 records
	2020-01-01 to 2023-12-29
	Saved to '../data/NSE/HDFCBANK/consolidated.parquet'
ITBEES - 4 files
	871 records
	2020-07-01 to 2023-12-29
	Saved to '../data/NSE/ITBEES/consolidated.parquet'