# 02 - Data Processing

In [1]:
import sys
sys.executable

'/usr/local/bin/python'

## Imports

In [2]:
import numpy as np
import pandas as pd

import constants as cnst
import stock_utils as su

pd.set_option('display.max_columns', None)

NSE_DATA_DIR = PosixPath('../data/NSE') | Valid: True
SCREENER_EPS_DATA_DIR = PosixPath('../data/Screener.in/EPS') | Valid: True
PROCESSED_DATA_DIR = PosixPath('../data/processed') | Valid: True

## Constants

In [3]:
stock_symbols = su.get_all_stock_symbols(
    cnst.NSE_DATA_DIR
)

stock_symbols

['DEEPAKFERT', 'HDFCBANK', 'INDIGOPNTS', 'ITBEES', 'JUBLFOOD']

In [4]:
STOCK_SYMBOL = stock_symbols[1]
STOCK_SYMBOL

'HDFCBANK'

## Data loading

In [5]:
stock_df = pd.read_parquet(cnst.NSE_DATA_DIR.joinpath(STOCK_SYMBOL, "consolidated.parquet"))
stock_df = stock_df.drop(columns = ['series', 'PREV. CLOSE'])
stock_df.columns = [
    'Date',
    'Open', 'High', 'Low', 'LTP', 'Close',
    'VWAP', '52W H', '52W L',
    'Volume', 'Value', '#Trades'
] + (["PE"] if "PE" in stock_df.columns else [])
stock_df

,Date,Open,High,Low,LTP,Close,VWAP,52W H,52W L,Volume,Value,#Trades,PE
0,2020-01-01,1276.10,1280.00,1270.60,1279.00,1278.60,1276.64,2503.3,1084.00,1836849,2.345001e+09,46625,31.185
1,2020-01-02,1279.00,1288.00,1279.00,1286.00,1286.75,1284.56,2503.3,1084.00,3068583,3.941792e+09,104570,31.384
2,2020-01-03,1282.20,1285.00,1263.60,1268.50,1268.40,1270.48,2503.3,1084.00,5427775,6.895886e+09,157066,30.937
3,2020-01-06,1260.00,1261.80,1236.00,1240.25,1240.95,1247.24,2503.3,1084.00,5445093,6.791348e+09,155007,30.267
4,2020-01-07,1258.90,1271.45,1252.25,1261.00,1260.60,1261.48,2503.3,1084.00,7362247,9.287302e+09,189026,30.746
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,2024-02-20,1415.00,1457.25,1411.80,1453.00,1454.30,1443.09,1757.5,1363.55,28066754,4.050282e+10,518597,17.641
1045,2024-02-21,1464.00,1464.00,1435.00,1436.00,1439.15,1446.29,1757.5,1363.55,22946568,3.318731e+10,493970,17.457
1046,2024-02-22,1417.75,1428.80,1412.20,1422.00,1419.55,1419.78,1757.5,1363.55,25280441,3.589274e+10,477326,17.219
1047,2024-02-23,1422.55,1433.90,1418.00,1419.45,1420.60,1425.27,1757.5,1363.55,14916726,2.126042e+10,335851,17.232
1048,2024-02-26,1413.55,1434.85,1413.55,1421.95,1422.30,1426.02,1757.5,1363.55,11753435,1.676058e+10,381979,17.253

In [6]:
stock_df.info(memory_usage = "deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1049 entries, 0 to 1048
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     1049 non-null   datetime64[ns]
 1   Open     1049 non-null   float64
 2   High     1049 non-null   float64
 3   Low      1049 non-null   float64
 4   LTP      1049 non-null   float64
 5   Close    1049 non-null   float64
 6   VWAP     1049 non-null   float64
 7   52W H    1049 non-null   float64
 8   52W L    1049 non-null   float64
 9   Volume   1049 non-null   int64
 10  Value    1049 non-null   float64
 11  #Trades  1049 non-null   int64
 12  PE       1049 non-null   float64
dtypes: datetime64[ns](1), float64(10), int64(2)
memory usage: 106.7 KB

## Feature engineering

### Daily candle based columns

In [7]:
stock_df['Range'] = stock_df['High'] - stock_df['Low']
stock_df['IsGreen'] = (stock_df['Close'] >= stock_df['Open']).astype(int)
stock_df['Is52WLow'] = np.isclose(stock_df['Low'], stock_df['52W L'], atol = 0, rtol = 1e-4).astype(int)
stock_df['Is52WHigh'] = np.isclose(stock_df['High'], stock_df['52W H'], atol = 0, rtol = 1e-4).astype(int)
stock_df.sample(10)

,Date,Open,High,Low,LTP,Close,VWAP,52W H,52W L,Volume,Value,#Trades,PE,Range,IsGreen,Is52WLow,Is52WHigh
259,2020-12-21,1417.50,1423.85,1366.70,1369.05,1372.65,1402.25,1464.40,738.75,11880912,1.666007e+10,245182,27.619,57.15,0,0,0
375,2021-06-11,1491.00,1496.55,1481.05,1487.00,1486.35,1487.68,1641.00,928.00,3602987,5.360094e+09,118634,25.742,15.50,0,0,0
893,2023-07-13,1656.70,1657.45,1638.05,1644.55,1641.10,1648.62,1757.50,1337.00,20956773,3.454985e+10,432632,19.907,19.40,0,0,0
396,2021-07-12,1502.00,1502.00,1484.00,1487.30,1487.00,1492.97,1641.00,993.00,7229489,1.079339e+10,160971,25.753,18.00,0,0,0
1014,2024-01-08,1678.50,1682.35,1660.00,1662.90,1663.45,1671.84,1757.50,1460.25,8999235,1.504530e+10,368430,20.178,22.35,0,0,0
617,2022-06-02,1387.25,1388.00,1378.60,1385.20,1385.10,1383.53,1725.00,1278.30,5737510,7.938005e+09,160429,20.185,9.40,0,0,0
296,2021-02-12,1573.90,1592.50,1573.00,1589.55,1581.95,1584.36,1631.65,738.75,4955053,7.850573e+09,164667,31.830,19.50,1,0,0
921,2023-08-23,1580.00,1590.55,1573.25,1588.50,1586.60,1581.99,1757.50,1365.00,18249294,2.887012e+10,329674,19.246,17.30,1,0,0
47,2020-02-27,1195.00,1202.50,1181.00,1199.65,1199.45,1191.25,2503.30,1084.00,10327549,1.230267e+10,241038,29.255,21.50,1,0,0
1018,2024-01-12,1652.00,1656.00,1633.60,1643.95,1641.20,1645.10,1757.50,1460.25,9886776,1.626476e+10,278690,19.908,22.40,0,0,0

In [8]:
((stock_df[['IsGreen', 'Is52WLow', 'Is52WHigh']].sum() * 100) / len(stock_df)).round(2)

IsGreen      49.00
Is52WLow      1.72
Is52WHigh     2.48
dtype: float64

In [9]:
stock_df.shape

(1049, 17)

### Date based columns

In [10]:
stock_df['Day'] = stock_df['Date'].dt.day
stock_df['Month'] = stock_df['Date'].dt.month
stock_df['Year'] = stock_df['Date'].dt.year
stock_df['Weekday'] = stock_df['Date'].dt.weekday
stock_df['DayOfYear'] = stock_df['Date'].dt.day_of_year
stock_df['Quarter'] = stock_df['Date'].dt.quarter
stock_df['DaysSinceLastTradingSession'] = (stock_df['Date'] - stock_df['Date'].shift(1)).dt.days.fillna(1).astype(int)

stock_df.sample(10)

,Date,Open,High,Low,LTP,Close,VWAP,52W H,52W L,Volume,Value,#Trades,PE,Range,IsGreen,Is52WLow,Is52WHigh,Day,Month,Year,Weekday,DayOfYear,Quarter,DaysSinceLastTradingSession
403,2021-07-22,1456.1,1468.50,1445.00,1451.70,1448.70,1455.81,1641.0,993.00,6603557,9.613492e+09,253822,25.090,23.50,0,0,0,22,7,2021,3,203,3,2
342,2021-04-26,1413.0,1429.00,1402.75,1407.55,1404.80,1413.19,1641.0,826.10,15085476,2.131861e+10,291268,24.330,26.25,0,0,0,26,4,2021,0,116,2,3
590,2022-04-25,1350.0,1370.65,1322.25,1369.95,1365.75,1352.50,1725.0,1292.00,10467744,1.415764e+10,302713,19.903,48.40,1,0,0,25,4,2022,0,115,2,3
941,2023-09-21,1553.0,1568.95,1537.05,1554.50,1553.35,1555.34,1757.5,1365.00,36420721,5.664666e+10,614240,18.842,31.90,1,0,0,21,9,2023,3,264,3,1
670,2022-08-18,1500.0,1513.90,1499.65,1511.00,1511.70,1507.50,1725.0,1271.60,4171069,6.287880e+09,126031,22.030,14.25,1,0,0,18,8,2022,3,230,3,1
470,2021-10-28,1650.0,1650.00,1587.15,1592.40,1593.60,1617.53,1725.0,1176.35,8898875,1.439421e+10,197678,27.600,62.85,0,0,0,28,10,2021,3,301,4,1
47,2020-02-27,1195.0,1202.50,1181.00,1199.65,1199.45,1191.25,2503.3,1084.00,10327549,1.230267e+10,241038,29.255,21.50,1,0,0,27,2,2020,3,58,1,1
196,2020-09-21,1055.0,1071.35,1041.50,1042.10,1049.30,1058.70,1305.5,738.75,9921439,1.050383e+10,206109,21.113,29.85,0,0,0,21,9,2020,0,265,3,3
334,2021-04-12,1393.0,1399.00,1353.00,1375.20,1367.05,1374.47,1641.0,826.10,11274564,1.549659e+10,406501,23.676,46.00,0,0,0,12,4,2021,0,102,2,3
3,2020-01-06,1260.0,1261.80,1236.00,1240.25,1240.95,1247.24,2503.3,1084.00,5445093,6.791348e+09,155007,30.267,25.80,0,0,0,6,1,2020,0,6,1,3

In [11]:
stock_df.shape

(1049, 24)

### Moving averages

#### `Close`

In [12]:
for window in cnst.ROLLING_WINDOWS:
    stock_df[f'Close {window}MA'] = stock_df['Close'].rolling(window = window, min_periods = 1).mean().round(2)

stock_df.filter(regex = "Close.*")

        Close  Close 7MA  Close 15MA  Close 30MA  Close 60MA
0     1278.60    1278.60     1278.60     1278.60     1278.60
1     1286.75    1282.68     1282.68     1282.68     1282.68
2     1268.40    1277.92     1277.92     1277.92     1277.92
3     1240.95    1268.68     1268.68     1268.68     1268.68
4     1260.60    1267.06     1267.06     1267.06     1267.06
...       ...        ...         ...         ...         ...
1044  1454.30    1410.55     1424.96     1483.78     1564.09
1045  1439.15    1417.57     1423.40     1476.73     1562.54
1046  1419.55    1421.16     1420.28     1468.85     1560.72
1047  1420.60    1426.38     1418.58     1461.24     1558.41
1048  1422.30    1427.56     1417.08     1453.94     1556.13

[1049 rows x 5 columns]

#### `Range`

In [13]:
for window in cnst.ROLLING_WINDOWS:
    stock_df[f'Range {window}MA'] = stock_df['Range'].rolling(window = window, min_periods = 1).mean().round(2)

stock_df.filter(regex = "Range.*")

      Range  Range 7MA  Range 15MA  Range 30MA  Range 60MA
0      9.40       9.40        9.40        9.40        9.40
1      9.00       9.20        9.20        9.20        9.20
2     21.40      13.27       13.27       13.27       13.27
3     25.80      16.40       16.40       16.40       16.40
4     19.20      16.96       16.96       16.96       16.96
...     ...        ...         ...         ...         ...
1044  45.45      26.84       27.34       31.17       26.69
1045  29.00      26.66       26.73       31.10       26.95
1046  16.60      26.17       26.67       31.03       27.03
1047  15.90      24.45       25.14       30.90       26.80
1048  21.30      23.04       25.37       30.86       26.65

[1049 rows x 5 columns]

#### `VWAP`

In [14]:
for window in cnst.ROLLING_WINDOWS:
    stock_df[f'VWAP {window}MA'] = stock_df['VWAP'].rolling(window = window, min_periods = 1).mean().round(2)

stock_df.filter(regex = "VWAP.*")

         VWAP  VWAP 7MA  VWAP 15MA  VWAP 30MA  VWAP 60MA
0     1276.64   1276.64    1276.64    1276.64    1276.64
1     1284.56   1280.60    1280.60    1280.60    1280.60
2     1270.48   1277.23    1277.23    1277.23    1277.23
3     1247.24   1269.73    1269.73    1269.73    1269.73
4     1261.48   1268.08    1268.08    1268.08    1268.08
...       ...       ...        ...        ...        ...
1044  1443.09   1406.78    1424.99    1485.65    1564.58
1045  1446.29   1414.12    1423.93    1478.50    1563.20
1046  1419.78   1417.69    1420.89    1470.72    1561.34
1047  1425.27   1425.12    1418.45    1463.11    1559.30
1048  1426.02   1428.48    1417.38    1455.81    1557.14

[1049 rows x 5 columns]

#### `Volume`

In [15]:
for window in cnst.ROLLING_WINDOWS:
    stock_df[f'Volume {window}MA'] = stock_df['Volume'].rolling(window = window, min_periods = 1).mean().astype(int)

stock_df.filter(regex = "Volume.*")

        Volume  Volume 7MA  Volume 15MA  Volume 30MA  Volume 60MA
0      1836849     1836849      1836849      1836849      1836849
1      3068583     2452716      2452716      2452716      2452716
2      5427775     3444402      3444402      3444402      3444402
3      5445093     3944575      3944575      3944575      3944575
4      7362247     4628109      4628109      4628109      4628109
...        ...         ...          ...          ...          ...
1044  28066754    24835397     25042707     29315026     23436816
1045  22946568    25652920     24380443     29657796     23682016
1046  25280441    25151484     24976115     30231881     23865945
1047  14916726    20759530     24474971     30423871     23830870
1048  11753435    19468239     23971699     30486093     23447665

[1049 rows x 5 columns]

#### `Value`

In [16]:
for window in cnst.ROLLING_WINDOWS:
    stock_df[f'Value {window}MA'] = stock_df['Value'].rolling(window = window, min_periods = 1).mean().astype(int)

stock_df.filter(regex = "Value.*")

             Value    Value 7MA   Value 15MA   Value 30MA   Value 60MA
0     2.345001e+09   2345000988   2345000988   2345000988   2345000988
1     3.941792e+09   3143396262   3143396262   3143396262   3143396262
2     6.895886e+09   4394226092   4394226092   4394226092   4394226092
3     6.791348e+09   4993506527   4993506527   4993506527   4993506527
4     9.287302e+09   5852265530   5852265530   5852265530   5852265530
...            ...          ...          ...          ...          ...
1044  4.050282e+10  34834049603  35607650809  43088402438  35953823802
1045  3.318731e+10  36142847916  34614834986  43493580958  36297099739
1046  3.589274e+10  35533571535  35410902474  44245958316  36531626007
1047  2.126042e+10  29613500480  34641987690  44449996588  36446970681
1048  1.676058e+10  27841850506  33903641627  44466523882  35825502150

[1049 rows x 5 columns]

#### `#Trades`

In [17]:
for window in cnst.ROLLING_WINDOWS:
    stock_df[f'#Trades {window}MA'] = stock_df['#Trades'].rolling(window = window, min_periods = 1).mean().astype(int)

stock_df.filter(regex = "#Trades.*")

      #Trades  #Trades 7MA  #Trades 15MA  #Trades 30MA  #Trades 60MA
0       46625        46625         46625         46625         46625
1      104570        75597         75597         75597         75597
2      157066       102753        102753        102753        102753
3      155007       115817        115817        115817        115817
4      189026       130458        130458        130458        130458
...       ...          ...           ...           ...           ...
1044   518597       509624        519356        634370        487788
1045   493970       510648        515719        641849        492829
1046   477326       515129        521198        651976        496542
1047   335851       436866        507114        655479        496889
1048   381979       415180        500111        658922        497374

[1049 rows x 5 columns]

### Target columns

In [18]:
for window in cnst.TARGET_WINDOWS:
    stock_df[f'Target {window}D'] = stock_df['Close'].shift(-window)

stock_df.filter(regex = "Target.*")

      Target 3D  Target 7D  Target 15D  Target 30D
0       1240.95    1282.70     1240.85     1240.60
1       1260.60    1286.00     1244.85     1249.00
2       1257.30    1289.50     1244.55     1241.40
3       1271.40    1284.25     1213.20     1219.35
4       1282.70    1287.65     1223.20     1217.15
...         ...        ...         ...         ...
1044    1420.60        NaN         NaN         NaN
1045    1422.30        NaN         NaN         NaN
1046        NaN        NaN         NaN         NaN
1047        NaN        NaN         NaN         NaN
1048        NaN        NaN         NaN         NaN

[1049 rows x 4 columns]

### Saving processed data

In [19]:
stock_df.to_parquet(
    cnst.PROCESSED_DATA_DIR.joinpath(f'{STOCK_SYMBOL}-processed.parquet'), 
    index = False
)
stock_df

,Date,Open,High,Low,LTP,Close,VWAP,52W H,52W L,Volume,Value,#Trades,PE,Range,IsGreen,Is52WLow,Is52WHigh,Day,Month,Year,Weekday,DayOfYear,Quarter,DaysSinceLastTradingSession,Close 7MA,Close 15MA,Close 30MA,Close 60MA,Range 7MA,Range 15MA,Range 30MA,Range 60MA,VWAP 7MA,VWAP 15MA,VWAP 30MA,VWAP 60MA,Volume 7MA,Volume 15MA,Volume 30MA,Volume 60MA,Value 7MA,Value 15MA,Value 30MA,Value 60MA,#Trades 7MA,#Trades 15MA,#Trades 30MA,#Trades 60MA,Target 3D,Target 7D,Target 15D,Target 30D
0,2020-01-01,1276.10,1280.00,1270.60,1279.00,1278.60,1276.64,2503.3,1084.00,1836849,2.345001e+09,46625,31.185,9.40,1,0,0,1,1,2020,2,1,1,1,1278.60,1278.60,1278.60,1278.60,9.40,9.40,9.40,9.40,1276.64,1276.64,1276.64,1276.64,1836849,1836849,1836849,1836849,2345000988,2345000988,2345000988,2345000988,46625,46625,46625,46625,1240.95,1282.70,1240.85,1240.60
1,2020-01-02,1279.00,1288.00,1279.00,1286.00,1286.75,1284.56,2503.3,1084.00,3068583,3.941792e+09,104570,31.384,9.00,1,0,0,2,1,2020,3,2,1,1,1282.68,1282.68,1282.68,1282.68,9.20,9.20,9.20,9.20,1280.60,1280.60,1280.60,1280.60,2452716,2452716,2452716,2452716,3143396262,3143396262,3143396262,3143396262,75597,75597,75597,75597,1260.60,1286.00,1244.85,1249.00
2,2020-01-03,1282.20,1285.00,1263.60,1268.50,1268.40,1270.48,2503.3,1084.00,5427775,6.895886e+09,157066,30.937,21.40,0,0,0,3,1,2020,4,3,1,1,1277.92,1277.92,1277.92,1277.92,13.27,13.27,13.27,13.27,1277.23,1277.23,1277.23,1277.23,3444402,3444402,3444402,3444402,4394226092,4394226092,4394226092,4394226092,102753,102753,102753,102753,1257.30,1289.50,1244.55,1241.40
3,2020-01-06,1260.00,1261.80,1236.00,1240.25,1240.95,1247.24,2503.3,1084.00,5445093,6.791348e+09,155007,30.267,25.80,0,0,0,6,1,2020,0,6,1,3,1268.68,1268.68,1268.68,1268.68,16.40,16.40,16.40,16.40,1269.73,1269.73,1269.73,1269.73,3944575,3944575,3944575,3944575,4993506527,4993506527,4993506527,4993506527,115817,115817,115817,115817,1271.40,1284.25,1213.20,1219.35
4,2020-01-07,1258.90,1271.45,1252.25,1261.00,1260.60,1261.48,2503.3,1084.00,7362247,9.287302e+09,189026,30.746,19.20,1,0,0,7,1,2020,1,7,1,1,1267.06,1267.06,1267.06,1267.06,16.96,16.96,16.96,16.96,1268.08,1268.08,1268.08,1268.08,4628109,4628109,4628109,4628109,5852265530,5852265530,5852265530,5852265530,130458,130458,130458,130458,1282.70,1287.65,1223.20,1217.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,2024-02-20,1415.00,1457.25,1411.80,1453.00,1454.30,1443.09,1757.5,1363.55,28066754,4.050282e+10,518597,17.641,45.45,1,0,0,20,2,2024,1,51,1,1,1410.55,1424.96,1483.78,1564.09,26.84,27.34,31.17,26.69,1406.78,1424.99,1485.65,1564.58,24835397,25042707,29315026,23436816,34834049603,35607650809,43088402438,35953823802,509624,519356,634370,487788,1420.60,NaN,NaN,NaN
1045,2024-02-21,1464.00,1464.00,1435.00,1436.00,1439.15,1446.29,1757.5,1363.55,22946568,3.318731e+10,493970,17.457,29.00,0,0,0,21,2,2024,2,52,1,1,1417.57,1423.40,1476.73,1562.54,26.66,26.73,31.10,26.95,1414.12,1423.93,1478.50,1563.20,25652920,24380443,29657796,23682016,36142847916,34614834986,43493580958,36297099739,510648,515719,641849,492829,1422.30,NaN,NaN,NaN
1046,2024-02-22,1417.75,1428.80,1412.20,1422.00,1419.55,1419.78,1757.5,1363.55,25280441,3.589274e+10,477326,17.219,16.60,1,0,0,22,2,2024,3,53,1,1,1421.16,1420.28,1468.85,1560.72,26.17,26.67,31.03,27.03,1417.69,1420.89,1470.72,1561.34,25151484,24976115,30231881,23865945,35533571535,35410902474,44245958316,36531626007,515129,521198,651976,496542,NaN,NaN,NaN,NaN
1047,2024-02-23,1422.55,1433.90,1418.00,1419.45,1420.60,1425.27,1757.5,1363.55,14916726,2.126042e+10,335851,17.232,15.90,0,0,0,23,2,2024,4,54,1,1,1426.38,1418.58,1461.24,1558.41,24.45,25.14,30.90,26.80,1425.12,1418.45,1463.11,1559.30,20759530,24474971,30423871,23830870,29613500480,34641987690,44449996588,36446970681,436866,507114,655479,496889,NaN,NaN,NaN,NaN
1048,2024-02-26,1413.55,1434.85,1413.55,1421.95,1422.30,1426.02,1757.5,1363.55,11753435,1.676058e+10,381979,17.253,21.30,1,0,0,26,2,2024,0,57,1,3,1427.56,1417.08,1453.94,1556.13,23.04,25.37,30.86,26.65,1428.48,1417.38,1455.81,1557.14,19468239,23971699,30486093,23447665,27841850506,33903641627,44466523882,35825502150,415180,500111,658922,497374,NaN,NaN,NaN,NaN

## Data standardization

### Stock price based columns

In [20]:
stock_price_cols = [
    'Open', 'High', 'Low', 'LTP', '52W H', '52W L'
] + (
    stock_df.filter(regex = "Close.*").columns.to_list() +
    stock_df.filter(regex = "Range.*").columns.to_list() +
    stock_df.filter(regex = "VWAP.*").columns.to_list() +
    stock_df.filter(regex = "Target.*").columns.to_list()
)

stock_price_cols

['Open',
 'High',
 'Low',
 'LTP',
 '52W H',
 '52W L',
 'Close',
 'Close 7MA',
 'Close 15MA',
 'Close 30MA',
 'Close 60MA',
 'Range',
 'Range 7MA',
 'Range 15MA',
 'Range 30MA',
 'Range 60MA',
 'VWAP',
 'VWAP 7MA',
 'VWAP 15MA',
 'VWAP 30MA',
 'VWAP 60MA',
 'Target 3D',
 'Target 7D',
 'Target 15D',
 'Target 30D']

In [21]:
stock_df[stock_price_cols] = stock_df[stock_price_cols].div(stock_df['Close'], axis = 0).round(3)
stock_df[stock_price_cols]

,Open,High,Low,LTP,52W H,52W L,Close,Close 7MA,Close 15MA,Close 30MA,Close 60MA,Range,Range 7MA,Range 15MA,Range 30MA,Range 60MA,VWAP,VWAP 7MA,VWAP 15MA,VWAP 30MA,VWAP 60MA,Target 3D,Target 7D,Target 15D,Target 30D
0,0.998,1.001,0.994,1.000,1.958,0.848,1.0,1.000,1.000,1.000,1.000,0.007,0.007,0.007,0.007,0.007,0.998,0.998,0.998,0.998,0.998,0.971,1.003,0.970,0.970
1,0.994,1.001,0.994,0.999,1.945,0.842,1.0,0.997,0.997,0.997,0.997,0.007,0.007,0.007,0.007,0.007,0.998,0.995,0.995,0.995,0.995,0.980,0.999,0.967,0.971
2,1.011,1.013,0.996,1.000,1.974,0.855,1.0,1.008,1.008,1.008,1.008,0.017,0.010,0.010,0.010,0.010,1.002,1.007,1.007,1.007,1.007,0.991,1.017,0.981,0.979
3,1.015,1.017,0.996,0.999,2.017,0.874,1.0,1.022,1.022,1.022,1.022,0.021,0.013,0.013,0.013,0.013,1.005,1.023,1.023,1.023,1.023,1.025,1.035,0.978,0.983
4,0.999,1.009,0.993,1.000,1.986,0.860,1.0,1.005,1.005,1.005,1.005,0.015,0.013,0.013,0.013,0.013,1.001,1.006,1.006,1.006,1.006,1.018,1.021,0.970,0.966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,0.973,1.002,0.971,0.999,1.208,0.938,1.0,0.970,0.980,1.020,1.075,0.031,0.018,0.019,0.021,0.018,0.992,0.967,0.980,1.022,1.076,0.977,NaN,NaN,NaN
1045,1.017,1.017,0.997,0.998,1.221,0.947,1.0,0.985,0.989,1.026,1.086,0.020,0.019,0.019,0.022,0.019,1.005,0.983,0.989,1.027,1.086,0.988,NaN,NaN,NaN
1046,0.999,1.007,0.995,1.002,1.238,0.961,1.0,1.001,1.001,1.035,1.099,0.012,0.018,0.019,0.022,0.019,1.000,0.999,1.001,1.036,1.100,NaN,NaN,NaN,NaN
1047,1.001,1.009,0.998,0.999,1.237,0.960,1.0,1.004,0.999,1.029,1.097,0.011,0.017,0.018,0.022,0.019,1.003,1.003,0.998,1.030,1.098,NaN,NaN,NaN,NaN
1048,0.994,1.009,0.994,1.000,1.236,0.959,1.0,1.004,0.996,1.022,1.094,0.015,0.016,0.018,0.022,0.019,1.003,1.004,0.997,1.024,1.095,NaN,NaN,NaN,NaN

### Volume based columns

In [22]:
volume_cols = stock_df.filter(regex = "Volume.*").columns.to_list()

volume_cols

['Volume', 'Volume 7MA', 'Volume 15MA', 'Volume 30MA', 'Volume 60MA']

In [23]:
stock_df[volume_cols] = stock_df[volume_cols].div(stock_df['Volume'], axis = 0).round(3)
stock_df[volume_cols]

      Volume  Volume 7MA  Volume 15MA  Volume 30MA  Volume 60MA
0        1.0       1.000        1.000        1.000        1.000
1        1.0       0.799        0.799        0.799        0.799
2        1.0       0.635        0.635        0.635        0.635
3        1.0       0.724        0.724        0.724        0.724
4        1.0       0.629        0.629        0.629        0.629
...      ...         ...          ...          ...          ...
1044     1.0       0.885        0.892        1.044        0.835
1045     1.0       1.118        1.062        1.292        1.032
1046     1.0       0.995        0.988        1.196        0.944
1047     1.0       1.392        1.641        2.040        1.598
1048     1.0       1.656        2.040        2.594        1.995

[1049 rows x 5 columns]

### Value based columns

In [24]:
value_cols = stock_df.filter(regex = "Value.*").columns.to_list()

value_cols

['Value', 'Value 7MA', 'Value 15MA', 'Value 30MA', 'Value 60MA']

In [25]:
stock_df[value_cols] = stock_df[value_cols].div(stock_df['Value'], axis = 0).round(3)
stock_df[value_cols]

      Value  Value 7MA  Value 15MA  Value 30MA  Value 60MA
0       1.0      1.000       1.000       1.000       1.000
1       1.0      0.797       0.797       0.797       0.797
2       1.0      0.637       0.637       0.637       0.637
3       1.0      0.735       0.735       0.735       0.735
4       1.0      0.630       0.630       0.630       0.630
...     ...        ...         ...         ...         ...
1044    1.0      0.860       0.879       1.064       0.888
1045    1.0      1.089       1.043       1.311       1.094
1046    1.0      0.990       0.987       1.233       1.018
1047    1.0      1.393       1.629       2.091       1.714
1048    1.0      1.661       2.023       2.653       2.137

[1049 rows x 5 columns]

### Trade count based columns

In [26]:
trade_count_cols = stock_df.filter(regex = "#Trades.*").columns.to_list()

trade_count_cols

['#Trades', '#Trades 7MA', '#Trades 15MA', '#Trades 30MA', '#Trades 60MA']

In [27]:
stock_df[trade_count_cols] = stock_df[trade_count_cols].div(stock_df['#Trades'], axis = 0).round(3)
stock_df[trade_count_cols]

      #Trades  #Trades 7MA  #Trades 15MA  #Trades 30MA  #Trades 60MA
0         1.0        1.000         1.000         1.000         1.000
1         1.0        0.723         0.723         0.723         0.723
2         1.0        0.654         0.654         0.654         0.654
3         1.0        0.747         0.747         0.747         0.747
4         1.0        0.690         0.690         0.690         0.690
...       ...          ...           ...           ...           ...
1044      1.0        0.983         1.001         1.223         0.941
1045      1.0        1.034         1.044         1.299         0.998
1046      1.0        1.079         1.092         1.366         1.040
1047      1.0        1.301         1.510         1.952         1.479
1048      1.0        1.087         1.309         1.725         1.302

[1049 rows x 5 columns]

### Dropping unnecessary columns

In [28]:
stock_df = stock_df.drop(columns = ['Date', 'Close', 'Range', 'Volume', 'Value', '#Trades'])
stock_df

,Open,High,Low,LTP,VWAP,52W H,52W L,PE,IsGreen,Is52WLow,Is52WHigh,Day,Month,Year,Weekday,DayOfYear,Quarter,DaysSinceLastTradingSession,Close 7MA,Close 15MA,Close 30MA,Close 60MA,Range 7MA,Range 15MA,Range 30MA,Range 60MA,VWAP 7MA,VWAP 15MA,VWAP 30MA,VWAP 60MA,Volume 7MA,Volume 15MA,Volume 30MA,Volume 60MA,Value 7MA,Value 15MA,Value 30MA,Value 60MA,#Trades 7MA,#Trades 15MA,#Trades 30MA,#Trades 60MA,Target 3D,Target 7D,Target 15D,Target 30D
0,0.998,1.001,0.994,1.000,0.998,1.958,0.848,31.185,1,0,0,1,1,2020,2,1,1,1,1.000,1.000,1.000,1.000,0.007,0.007,0.007,0.007,0.998,0.998,0.998,0.998,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,0.971,1.003,0.970,0.970
1,0.994,1.001,0.994,0.999,0.998,1.945,0.842,31.384,1,0,0,2,1,2020,3,2,1,1,0.997,0.997,0.997,0.997,0.007,0.007,0.007,0.007,0.995,0.995,0.995,0.995,0.799,0.799,0.799,0.799,0.797,0.797,0.797,0.797,0.723,0.723,0.723,0.723,0.980,0.999,0.967,0.971
2,1.011,1.013,0.996,1.000,1.002,1.974,0.855,30.937,0,0,0,3,1,2020,4,3,1,1,1.008,1.008,1.008,1.008,0.010,0.010,0.010,0.010,1.007,1.007,1.007,1.007,0.635,0.635,0.635,0.635,0.637,0.637,0.637,0.637,0.654,0.654,0.654,0.654,0.991,1.017,0.981,0.979
3,1.015,1.017,0.996,0.999,1.005,2.017,0.874,30.267,0,0,0,6,1,2020,0,6,1,3,1.022,1.022,1.022,1.022,0.013,0.013,0.013,0.013,1.023,1.023,1.023,1.023,0.724,0.724,0.724,0.724,0.735,0.735,0.735,0.735,0.747,0.747,0.747,0.747,1.025,1.035,0.978,0.983
4,0.999,1.009,0.993,1.000,1.001,1.986,0.860,30.746,1,0,0,7,1,2020,1,7,1,1,1.005,1.005,1.005,1.005,0.013,0.013,0.013,0.013,1.006,1.006,1.006,1.006,0.629,0.629,0.629,0.629,0.630,0.630,0.630,0.630,0.690,0.690,0.690,0.690,1.018,1.021,0.970,0.966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,0.973,1.002,0.971,0.999,0.992,1.208,0.938,17.641,1,0,0,20,2,2024,1,51,1,1,0.970,0.980,1.020,1.075,0.018,0.019,0.021,0.018,0.967,0.980,1.022,1.076,0.885,0.892,1.044,0.835,0.860,0.879,1.064,0.888,0.983,1.001,1.223,0.941,0.977,NaN,NaN,NaN
1045,1.017,1.017,0.997,0.998,1.005,1.221,0.947,17.457,0,0,0,21,2,2024,2,52,1,1,0.985,0.989,1.026,1.086,0.019,0.019,0.022,0.019,0.983,0.989,1.027,1.086,1.118,1.062,1.292,1.032,1.089,1.043,1.311,1.094,1.034,1.044,1.299,0.998,0.988,NaN,NaN,NaN
1046,0.999,1.007,0.995,1.002,1.000,1.238,0.961,17.219,1,0,0,22,2,2024,3,53,1,1,1.001,1.001,1.035,1.099,0.018,0.019,0.022,0.019,0.999,1.001,1.036,1.100,0.995,0.988,1.196,0.944,0.990,0.987,1.233,1.018,1.079,1.092,1.366,1.040,NaN,NaN,NaN,NaN
1047,1.001,1.009,0.998,0.999,1.003,1.237,0.960,17.232,0,0,0,23,2,2024,4,54,1,1,1.004,0.999,1.029,1.097,0.017,0.018,0.022,0.019,1.003,0.998,1.030,1.098,1.392,1.641,2.040,1.598,1.393,1.629,2.091,1.714,1.301,1.510,1.952,1.479,NaN,NaN,NaN,NaN
1048,0.994,1.009,0.994,1.000,1.003,1.236,0.959,17.253,1,0,0,26,2,2024,0,57,1,3,1.004,0.996,1.022,1.094,0.016,0.018,0.022,0.019,1.004,0.997,1.024,1.095,1.656,2.040,2.594,1.995,1.661,2.023,2.653,2.137,1.087,1.309,1.725,1.302,NaN,NaN,NaN,NaN

### Saving standardized data

In [29]:
stock_df.to_parquet(
    cnst.PROCESSED_DATA_DIR.joinpath(f'{STOCK_SYMBOL}-standardized.parquet'), 
    index = False
)
stock_df

,Open,High,Low,LTP,VWAP,52W H,52W L,PE,IsGreen,Is52WLow,Is52WHigh,Day,Month,Year,Weekday,DayOfYear,Quarter,DaysSinceLastTradingSession,Close 7MA,Close 15MA,Close 30MA,Close 60MA,Range 7MA,Range 15MA,Range 30MA,Range 60MA,VWAP 7MA,VWAP 15MA,VWAP 30MA,VWAP 60MA,Volume 7MA,Volume 15MA,Volume 30MA,Volume 60MA,Value 7MA,Value 15MA,Value 30MA,Value 60MA,#Trades 7MA,#Trades 15MA,#Trades 30MA,#Trades 60MA,Target 3D,Target 7D,Target 15D,Target 30D
0,0.998,1.001,0.994,1.000,0.998,1.958,0.848,31.185,1,0,0,1,1,2020,2,1,1,1,1.000,1.000,1.000,1.000,0.007,0.007,0.007,0.007,0.998,0.998,0.998,0.998,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,0.971,1.003,0.970,0.970
1,0.994,1.001,0.994,0.999,0.998,1.945,0.842,31.384,1,0,0,2,1,2020,3,2,1,1,0.997,0.997,0.997,0.997,0.007,0.007,0.007,0.007,0.995,0.995,0.995,0.995,0.799,0.799,0.799,0.799,0.797,0.797,0.797,0.797,0.723,0.723,0.723,0.723,0.980,0.999,0.967,0.971
2,1.011,1.013,0.996,1.000,1.002,1.974,0.855,30.937,0,0,0,3,1,2020,4,3,1,1,1.008,1.008,1.008,1.008,0.010,0.010,0.010,0.010,1.007,1.007,1.007,1.007,0.635,0.635,0.635,0.635,0.637,0.637,0.637,0.637,0.654,0.654,0.654,0.654,0.991,1.017,0.981,0.979
3,1.015,1.017,0.996,0.999,1.005,2.017,0.874,30.267,0,0,0,6,1,2020,0,6,1,3,1.022,1.022,1.022,1.022,0.013,0.013,0.013,0.013,1.023,1.023,1.023,1.023,0.724,0.724,0.724,0.724,0.735,0.735,0.735,0.735,0.747,0.747,0.747,0.747,1.025,1.035,0.978,0.983
4,0.999,1.009,0.993,1.000,1.001,1.986,0.860,30.746,1,0,0,7,1,2020,1,7,1,1,1.005,1.005,1.005,1.005,0.013,0.013,0.013,0.013,1.006,1.006,1.006,1.006,0.629,0.629,0.629,0.629,0.630,0.630,0.630,0.630,0.690,0.690,0.690,0.690,1.018,1.021,0.970,0.966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,0.973,1.002,0.971,0.999,0.992,1.208,0.938,17.641,1,0,0,20,2,2024,1,51,1,1,0.970,0.980,1.020,1.075,0.018,0.019,0.021,0.018,0.967,0.980,1.022,1.076,0.885,0.892,1.044,0.835,0.860,0.879,1.064,0.888,0.983,1.001,1.223,0.941,0.977,NaN,NaN,NaN
1045,1.017,1.017,0.997,0.998,1.005,1.221,0.947,17.457,0,0,0,21,2,2024,2,52,1,1,0.985,0.989,1.026,1.086,0.019,0.019,0.022,0.019,0.983,0.989,1.027,1.086,1.118,1.062,1.292,1.032,1.089,1.043,1.311,1.094,1.034,1.044,1.299,0.998,0.988,NaN,NaN,NaN
1046,0.999,1.007,0.995,1.002,1.000,1.238,0.961,17.219,1,0,0,22,2,2024,3,53,1,1,1.001,1.001,1.035,1.099,0.018,0.019,0.022,0.019,0.999,1.001,1.036,1.100,0.995,0.988,1.196,0.944,0.990,0.987,1.233,1.018,1.079,1.092,1.366,1.040,NaN,NaN,NaN,NaN
1047,1.001,1.009,0.998,0.999,1.003,1.237,0.960,17.232,0,0,0,23,2,2024,4,54,1,1,1.004,0.999,1.029,1.097,0.017,0.018,0.022,0.019,1.003,0.998,1.030,1.098,1.392,1.641,2.040,1.598,1.393,1.629,2.091,1.714,1.301,1.510,1.952,1.479,NaN,NaN,NaN,NaN
1048,0.994,1.009,0.994,1.000,1.003,1.236,0.959,17.253,1,0,0,26,2,2024,0,57,1,3,1.004,0.996,1.022,1.094,0.016,0.018,0.022,0.019,1.004,0.997,1.024,1.095,1.656,2.040,2.594,1.995,1.661,2.023,2.653,2.137,1.087,1.309,1.725,1.302,NaN,NaN,NaN,NaN