# 03 - EDA

In [1]:
import sys
sys.executable

'/usr/local/bin/python'

## Imports

In [2]:
import pandas as pd

import constants as cnst
import stock_utils as su

pd.set_option('display.max_columns', None)

NSE_DATA_DIR = PosixPath('../data/NSE') | Valid: True
PROCESSED_DATA_DIR = PosixPath('../data/processed') | Valid: True

## Constants

In [3]:
stock_symbols = su.get_all_stock_symbols(
    cnst.NSE_DATA_DIR
)

stock_symbols

['HDFCBANK', 'ITBEES']

In [4]:
STOCK_SYMBOL = stock_symbols[1]
STOCK_SYMBOL

'ITBEES'

## Data loading

In [5]:
stock_df = pd.read_parquet(
    cnst.PROCESSED_DATA_DIR.joinpath(f'{STOCK_SYMBOL}-processed.parquet')
)

stock_df

,Date,Open,High,Low,LTP,Close,VWAP,52W H,52W L,Volume,Value,#Trades,IsGreen,Is52WLow,Is52WHigh,Day,Month,Year,Weekday,DayOfYear,Quarter,DaysSinceLastTradingSession,Close 3MA,Close 7MA,Close 15MA,Close 30MA,VWAP 3MA,VWAP 7MA,VWAP 15MA,VWAP 30MA,Volume 3MA,Volume 7MA,Volume 15MA,Volume 30MA,Value 3MA,Value 7MA,Value 15MA,Value 30MA,#Trades 3MA,#Trades 7MA,#Trades 15MA,#Trades 30MA,Target 3D,Target 7D,Target 15D,Target 30D
0,2020-07-01,17.71,17.71,14.65,14.65,14.65,14.97,17.71,14.65,26187,3.919319e+05,55,0,1,1,1,7,2020,2,183,3,1,14.65,14.65,14.65,14.65,14.97,14.97,14.97,14.97,26187,26187,26187,26187,391931,391931,391931,391931,55,55,55,55,15.55,15.59,17.16,18.07
1,2020-07-02,14.65,15.74,14.65,15.21,15.26,15.07,17.71,14.65,5602,8.443024e+04,31,1,1,0,2,7,2020,3,184,3,1,14.96,14.96,14.96,14.96,15.02,15.02,15.02,15.02,15894,15894,15894,15894,238181,238181,238181,238181,43,43,43,43,15.74,15.91,17.17,18.15
2,2020-07-03,15.41,15.41,15.28,15.39,15.38,15.31,17.71,14.65,13559,2.076389e+05,18,0,0,0,3,7,2020,4,185,3,1,15.10,15.10,15.10,15.10,15.12,15.12,15.12,15.12,15116,15116,15116,15116,228000,228000,228000,228000,34,34,34,34,15.50,15.73,17.25,18.14
3,2020-07-06,15.50,18.16,15.41,15.54,15.55,16.05,18.16,14.65,33643,5.400182e+05,168,1,0,1,6,7,2020,0,188,3,3,15.40,15.21,15.21,15.21,15.48,15.35,15.35,15.35,17601,19747,19747,19747,277362,306004,306004,306004,72,68,68,68,15.55,16.55,17.62,18.25
4,2020-07-07,15.55,16.29,15.55,15.75,15.74,15.73,18.16,14.65,15727,2.473728e+05,53,1,0,0,7,7,2020,1,189,3,1,15.56,15.32,15.32,15.32,15.70,15.43,15.43,15.43,20976,18943,18943,18943,331676,294278,294278,294278,79,65,65,65,15.59,17.01,18.05,18.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
882,2024-01-16,39.52,39.55,38.65,38.82,38.82,38.85,40.00,27.56,5450878,2.117865e+08,22817,0,0,0,16,1,2024,1,16,1,1,38.86,37.60,37.38,36.80,38.88,37.65,37.41,36.79,15391384,8630370,7433435,8159666,597276951,330737649,280538679,302315985,29262,20814,20739,19773,39.21,NaN,NaN,NaN
883,2024-01-17,38.80,39.16,38.07,38.82,38.98,38.94,40.00,27.56,7129906,2.776618e+08,18290,1,0,0,17,1,2024,2,17,1,1,39.01,37.96,37.47,36.95,39.10,37.99,37.50,36.94,9938041,9156060,7581290,8203049,390192564,352367793,286710859,304917101,24415,20489,21146,19874,38.89,NaN,NaN,NaN
884,2024-01-18,38.95,39.16,38.12,38.83,38.76,38.52,40.00,27.56,5298842,2.041244e+08,20714,0,0,0,18,1,2024,3,18,1,1,38.85,38.26,37.53,37.08,38.77,38.22,37.55,37.07,5959875,9242842,7696713,8070116,231190909,356796592,291344742,300943699,20607,21654,21675,20022,NaN,NaN,NaN,NaN
885,2024-01-19,38.74,39.43,38.74,39.21,39.21,39.21,40.00,27.56,3740394,1.466584e+08,12440,1,0,0,19,1,2024,4,19,1,1,38.98,38.61,37.66,37.22,38.89,38.58,37.66,37.21,5389714,9367806,7437123,8046963,209481538,362734009,282027474,300672473,17148,21631,21299,20010,NaN,NaN,NaN,NaN
886,2024-01-20,39.21,39.45,38.85,38.92,38.89,39.06,40.00,27.56,2719781,1.062468e+08,13425,0,0,0,20,1,2024,5,20,1,1,38.95,38.92,37.74,37.35,38.93,38.91,37.76,37.34,3919672,9294725,7321347,7881235,152343203,360931754,277937235,295210279,15526,21807,21174,20014,NaN,NaN,NaN,NaN